<div class="login-wrapper shadow">
  <div class="logo shake">
    Chatty Appy!
  </div>
  <div class="login">
    <input type="text" placeholder="Name" id="name-field">
    <br>
    <input type="radio" id="male" name="group1" value="1" checked> 
    Male
    <br>
    <input type="radio" id="female" name="group1" value="0"> 
    Female
    <br>
    <br>
    <div class="btn btn-primary shake" id="go"> 
        Go! 
      </div>
    <div class="errors shadow"></div>
    <div class="rel">
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
          var busy = false;
          function next(data){
            busy = false;
            if(data == "exists"){
              $(".errors").html("Name exists!");
            $(".errors").slideDown("slow").delay(5000).slideUp("slow");
            }else if(data == "blank"){
              $(".errors").html("Name can't be blank nor less than 3 characters");
            $(".errors").slideDown("slow").delay(5000).slideUp("slow");
            }else
              window.location = "<%= chats_show_path %>";
          }
          $('#name-field').keypress(function(event){
              if(event.keyCode == 13){
                $('#go').click();
              }
            });
          $("#go").click(function(){
            if(!busy){
              busy = true;
            }else
              return false;
            $(".errors").html('');
            var name = $("#name-field").val();
            var gender = 0;
            if($("#male").is(":checked"))
              gender = 1;
            var handler = '#{@handler}';
            $.ajax({
              url:"<%= chats_login_path %>",
              type:'POST',
              datatype:'json',
              traditional:true,
              data:{
                name: name,
                gender: gender
              },
              timeout: 5000,
              success:next
            });
          });
          // $(".test").delay(100).animate({rotate: '30deg'},500,'easeOutCirc').animate({rotate: '-30deg'},500,'easeOutCirc').animate({rotate: '30deg'},500,'easeOutCirc').animate({rotate: '-30deg'},500,'easeOutCirc').animate({rotate: '30deg'},500,'easeOutCirc').animate({rotate: '-30deg'},500,'easeOutCirc');
          $lo = $(".logo");
          $lo.delay(200).animate({top:"+152px"},1500,'easeOutBounce');
          //$(".test").hide();
          //$(".test").fadeIn({duration: 3000, easing: "easeInOutBounce"});
        });
</script>