/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
  margin-left: 25% !important;
  width: 50% !important;
  background-color: black !important;
  min-width: 800px !important;
}
.chat-wrapper{
  margin-top: 50px;
  background-color: white;
  text-align: center;
  vertical-align: center;
  padding:80px 40px 20px 40px;
  border-radius: 10px;
  min-height: 500px;
}
.shadow{
  border: 1px solid #CECECE;
  box-shadow: 5px 5px 30px #888888;
}
.chat{
  height: 400px;
  width: 560px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  margin-bottom: 10px !important;
  overflow: auto;
  padding:20px;
  table-layout: left;
  text-align: left;
}
.threads{
  margin-bottom: 10px !important;
}
#new_msg{
  width: 590px;
}
#send_msg{
  margin-bottom: 10px;
  width: 100px;
}
.errors{
  color: red;
  height: 20px;
}
.login{
  padding:10px;
  text-align: left !important;
  margin-left: 15%;
}
.login-wrapper{
  text-align: center !important;
  background-color: white;
    border-radius: 10px;
    margin-top: 30%;
    margin-left: 15%;
    padding:20px;
    width: 350px;
}
.notify{
  background-color: #FFAFAF;
  width: 100px;
  height: 40px;
  display: none;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #FF807D;
}
.user{
  padding:2px 4px 2px 4px;
  border-radius: 5px;
  cursor: pointer;
  margin:4px;
}
.green{
  background-color: #9FFFA8;
  border-color:#52D15E;
}
.users{
  text-align: center;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  width: 96px;
  height: 440px;
  padding: 2px;
  overflow: auto;
  margin-bottom: 10px;
}
.rel{
  position: relative;
}
#go{
  position: absolute;
  left:168px;
  bottom:40px;
}
.warn{
  background-color: red;
  border-radius: 5px;
}
.highlight{
  background-color: #CCC7FF;
}