/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
  margin-left: 29% !important;
  width: 65% !important;
  min-width: 800px !important;
  overflow: hidden;
}
@font-face {
    font-family: 'one_starry_nightregular';
    src: url('/assets/one-starry-night-webfont.eot');
    src: url('/assets/one-starry-night-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/one-starry-night-webfont.woff') format('woff'),
         url('/assets/one-starry-night-webfont.ttf') format('truetype'),
         url('/assets/one-starry-night-webfont.svg#one_starry_nightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dandelion_in_the_springRg';
    src: url('/assets/dandelion_in_the_spring-webfont.eot');
    src: url('/assets/dandelion_in_the_spring-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/dandelion_in_the_spring-webfont.woff') format('woff'),
         url('/assets/dandelion_in_the_spring-webfont.ttf') format('truetype'),
         url('/assets/dandelion_in_the_spring-webfont.svg#dandelion_in_the_springRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
.logo{
  font-family: dandelion_in_the_springRg, Helvetica, Arial, sans-serif;
  font-size: 100px;
  height: 100px;
  vertical-align: top;
  line-height: 130px;
  padding: 2px;
  font-weight: bold;
  top:-50px;
  left:335px;
  z-index: 100;
  position: absolute;
  color:#B7B7B7;
  text-shadow: 2px 2px 5px #3c3c3c;
  min-width: 600px;
}
.chat-wrapper{
  margin-top: 50px;
  background-color: white;
  text-align: center;
  vertical-align: center;
  padding:20px 40px 20px 40px;
  border-radius: 10px;
  min-height: 500px;
  position: relative;
  z-index: 10 !important;
  margin-left: 10%;
  max-width: 700px;
  overflow: visible;
}
.users-td{
  width:96px !important;
}
.main-table{
  width:100%;
}
.disconnect{
  margin-bottom: 20px;
}
.shadow{
  border: 1px solid #CECECE;
  box-shadow: 5px 5px 30px #888888;
}
.chat{
  height: 403px;
  width: 560px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  margin-bottom: 10px !important;
  overflow: auto;
  padding:20px;
  table-layout: left;
  text-align: left;
}
.slider-toggle{
  width:20px;
}
.slider{
  height: 600px;
  width:400px;
  display: ;
  z-index: -1 !important;
  position: absolute;
  left:-420px;
  top:10px;
  border-radius: 10px;
  background-color: white;
  padding:10px 20px 10px 20px;
}
.threads{
  margin-bottom: 10px !important;
}
#new_msg{
  width: 590px;
}
#send_msg{
  margin-bottom: 10px;
  width: 100px;
}
.errors{
  color: red;
  height: 20px;
}
.login{
  padding:10px;
  text-align: left !important;
  margin-left: 10%;
}
.login-wrapper{
  text-align: center !important;
  background-color: white;
  border-radius: 10px;
  margin-top: 30%;
  margin-left: 11%;
  padding:20px;
  width: 300px;
  height: 90px;
}
.notify{
  background-color: #FFAFAF;
  width: 100px;
  height: 40px;
  display: none;
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #FF807D;
}
.user{
  padding:2px 4px 2px 4px;
  border-radius: 5px;
  cursor: pointer;
  margin:4px;
}
.green{
  background-color: #9FFFA8;
  border-color:#52D15E;
}
.users{
  text-align: center;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  width: 96px;
  height: 440px;
  padding: 2px;
  overflow: auto;
  margin-bottom: 10px;
}
.rel{
  position: relative;
}
#go{
  position: absolute;
  left:168px;
  bottom:40px;
}
.warn{
  background-color: red;
  border-radius: 5px;
}
.highlight{
  background-color: #CCC7FF;
}